[Unit]
Description=Main app ambulance recognitiong starting service
After=multi-user.target systemd-networkd-wait-online.service appAR.service

[Service]
Type=simple
ExecStart=/home/camera/ambulance_recognition/scripts/amb-flag-control.sh
User=camera
RemainAfterExit=yes
WorkingDirectory=/home/camera/ambulance_recognition/scripts
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
