[Unit]
Description=Remote port forwarding to Azure Virtual Machine
After=multi-user.target systemd-networkd-wait-online.service

[Service]
Type=simple
ExecStart=/home/camera/ambulance_recognition/scripts/remote_forwarding.sh
User=pi
RemainAfterExit=yes
WorkingDirectory=/home/camera/ambulance_recognition/scripts
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
